/* === ANIMAÇÕES === */

@keyframes pisca_pisca{
	0%{
		opacity: 0.4;
	}

	50%{
		opacity: 1;
	}

	100%{
		opacity: 0.4;
	}
}

@keyframes startMenu{
	0%{
		opacity: 0;
		position: absolute;
		left: -300px;
		color: black;
	}

	100%{
		opacity: 1;
		position: absolute;
		left: 0;
		color: whitesmoke;
	}
}

@keyframes changeBackgroundColor {
  0% {
    background-color: #800080;
  }
  50% {
    background-color: #cc00cc;
    color: #FFFAFA;
  }
  100% {
    background-color: #FFFAFA;
    color: #800080;
  }
}

@keyframes expandItems{

	0%{
		width: 500px;
		opacity: 0.8;
		background:  transparent;
		color: whitesmoke;
	}

	100%{
		width: 520px;
		opacity: 1;
		background: #ffe6ff;
		color: black;

	}
}

/* === ESTILOS CABEÇALHO === */

*{
	text-decoration: none;
	font-family: arial;
	margin: 0;
	padding: 0;
	max-width: 100%;
}

a{
	text-decoration: none;
}

body{
	animation: startMenu 2s;
	background:  linear-gradient(45deg, #ffccff ,#660066 );
	background-repeat: no-repeat;
	
	max-width: 100%;
}

.cabecalho{
	background: #660066;
	height: 120px;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.links_laterais{
	display: flex;
	flex-direction: column;
}

.login{
	color: white;
	padding: 7px;
}

.login:hover{
	background: white;
	color: #660066;
}

.logo{
	padding-left: 55px;
	margin: 10px;

}

.texto{
	color: 	#FFFAFA;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding:10px;
	font-size: 1.5em;
}

.menu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-right: 0px;
}

nav a{
	background:#800080;
	border: 1px solid #FFFAFA;
	text-decoration: none;
	padding: 15px;
	margin: 10px;
	font-size: 1.7em;
	height: 70px;
	margin-top: 15px;
	color: 	#FFFAFA;
	font-family: 'Indie Flower', cursive;
}

nav a:hover{
	animation: changeBackgroundColor 1s;
	animation-iteration-count: 1; 
	background-color: #FFFAFA;
    color: #800080;
}

/* === MAIN === */

main{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100%;
	min-height: 100vh;

}
.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

/*.container{
	margin: 15px;
	background-color: whitesmoke;
	display: flex;
	flex-direction: column;
	align-items: center;
}*/

.img_home{
	animation: pisca_pisca 2s infinite;
}



.titulo{
	color: whitesmoke;
	margin: 20px;
	padding: 10px;
	width: 600px;
}

.receitas{
	align-items: center;
	float: left;
	opacity: 0.85;
	width: 500px;
	height: 450px;
	margin: 20px;
	/*display: flex;
	flex-direction: column;
	align-content: center*/;
	background: transparent;
	padding: 15px;
	color: whitesmoke;
	border-radius: 10%;
}

.conteudo{
	float: left;
}

.receitas:hover{
	animation: expandItems 1s;
	background: #ffe6ff;
	width: 520px;
	opacity: 1;
	color: black;
}

.rodape{
	background: #660066;
	height: 150px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 0%;
}

.unidades_rodape{
	height: 35px;
	color: 	#FFFAFA;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 0.6em;
	margin: 0;
	padding: 0;
}

.link_rodape{
	text-decoration: none;
	color: #FFFAFA;
}
.link_rodape:hover{
	font-size: 1.2em;
	color: yellow;
}

.formulario_email{
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid whitesmoke;
}



