{% extends "base.html" %}

{%block main%}
<!-- === INÍCIO MAIN === -->
<main class="main">
  <div class="container" style="padding: 30px;">    
      <div class="row">
        <div class="card-home">
          <div class="card">
            <div class="card-header" align="center">
              <h2>Admin</h2>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-6 d-flex justify-content-center">
                  <a href="{{url_for('cadastro')}}" class="btn btn-info btn-lg btn-block" style="margin: 15px;">Cadastrar Usuário</a>
                </div>
                <div class="col-6 d-flex justify-content-center">
                  <a href="{{url_for('alterar_cardapio')}}" class="btn btn-info btn-lg btn-block" style="margin: 15px;">Alterar Cardápio</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</main>
<!-- === FIM MAIN === -->
{%endblock%}