{% extends "base.html" %}

{%block main%}
<!-- === INÍCIO MAIN === -->
<main class="main">

	<h1 class="titulo" style="margin: 0;">Entre em Contato com a gente</h1>
	<h3 class="titulo" style="margin: 0;">A resposta ocorrerá num prazo de 24 horas!</h3>
	
	<div class="row"  align="center" style="">
      			<div class="col-md-12">
  				
					<div class="card-body font-weight-bold" style="width: 600px;">
						<form class="card mb-3 bg-light"> 
							<div class="form-group"style="padding: 20px;">
								<label for="para"><h3>Digite seu email</h3></label>
								<input name="para" type="text" class="form-control" id="para" placeholder="seuEmail@dominio.com.br">
							</div>

							<div class="form-group" style="padding: 20px;">
								<label for="para"><h3>Assunto</h3></label>
								<input name="assunto" type="text" class="form-control" id="assunto" placeholder="Assunto do e-mail">
							</div>

							<div class="form-group" style="padding: 20px;">
								<label for="para"><h3>Mensagem</h3></label>
								<textarea name="mensagem" class="form-control" id="mensagem"></textarea>
							</div>

							<button type="submit" class="btn btn-primary btn-lg" style="margin: 20px;">Enviar Mensagem</button>
						</form>
					</div>
				</div>
      		</div>
	
</main>
<!-- === FIM MAIN === -->
{%endblock%}