{% extends "base.html" %}

{%block main%}
<!-- === INÍCIO MAIN === -->

{% with message = get_flashed_messages() %}
  {% if message %}
    <p>{{message}}</p>
  {% endif %}
{% endwith %}

 <div style="margin: 20px; display: flex; flex-direction: column;">

        <div class="texto" align="center">
          <div>
            <div class="card-header">
              Formulário de Login
            </div>
            <div >
              <form action="#" method="post" class="formulario_email"> 
                <div class="form-group">
                  <input name="email" type="email" class="form-control" placeholder="E-mail">
                </div>
                <br>
                <div class="form-group">
                  <input name="senha" type="password" class="form-control" placeholder="Senha">
                </div>
                <br>
                <button class="btn btn-lg btn-info btn-block" type="submit">Entrar</button>
              </form>
            </div>
          </div>
        </div>
    </div>

<!-- === FIM MAIN === -->
{%endblock%}