{% extends "base.html" %}

{%block main%}
<!-- === INÍCIO MAIN === -->
<main class="main">

	<div class="container" align="center"> 
		
		<h1>Confira nossas Unidades:</h1>

		<div class="receitas">
			<h3 class="receitasp">Rua Afonso de Almeira 715, Santa Glória</h3>
			<img src="{{ url_for('static', filename = 'imagens/unidades/afonso-de-almeida.jpg') }}" width="300px" height="300px" align="center">
		</div>

		<div class="receitas">
			<h3 class="receitasp">Rua Afonso de Almeira 715, Santa Glória</h3>
			<img src="{{ url_for('static', filename = 'imagens/unidades/afonso-de-almeida.jpg') }}" width="300px" height="300px" align="center">
		</div>

		<div class="receitas">
			<h3 class="receitasp">Rua Afonso de Almeira 715, Santa Glória</h3>
			<img src="{{ url_for('static', filename = 'imagens/unidades/afonso-de-almeida.jpg') }}" width="300px" height="300px" align="center">
		</div>



	</div>
	
</main>
<!-- === FIM MAIN === -->
{%endblock%}


